In [1]:
import pandas as pd
import os

In [2]:
os.listdir('../data/tabular_data')

['yeast-1-2-8-9_vs_7.csv',
 'yeast-1_vs_7.csv',
 'abalone19.csv',
 'yeast-1-4-5-8_vs_7.csv',
 'glass-0-1-6_vs_5.csv',
 'ecoli4.csv',
 'ecoli-0-1-3-7_vs_2-6.csv',
 'glass-0-1-6_vs_2.csv',
 'shuttle-c2-vs-c4.csv',
 'yeast-2_vs_8.csv',
 'page-blocks-1-3_vs_4.csv',
 'glass2.csv',
 'wine.csv',
 'glass4.csv',
 'abalone9-18.csv',
 'glass5.csv',
 'shuttle-c0-vs-c4.csv',
 'yeast6.csv',
 'yeast4.csv',
 'vowel0.csv',
 'yeast5.csv']

In [3]:
for data in os.listdir('../data/tabular_data'):
    df = pd.read_csv('../data/tabular_data/' + data)
    print(f'<data name = {data}>, <data shape = {df.shape}>')

<data name = yeast-1-2-8-9_vs_7.csv>, <data shape = (947, 9)>
<data name = yeast-1_vs_7.csv>, <data shape = (459, 8)>
<data name = abalone19.csv>, <data shape = (4174, 9)>
<data name = yeast-1-4-5-8_vs_7.csv>, <data shape = (693, 9)>
<data name = glass-0-1-6_vs_5.csv>, <data shape = (184, 10)>
<data name = ecoli4.csv>, <data shape = (336, 8)>
<data name = ecoli-0-1-3-7_vs_2-6.csv>, <data shape = (281, 8)>
<data name = glass-0-1-6_vs_2.csv>, <data shape = (192, 10)>
<data name = shuttle-c2-vs-c4.csv>, <data shape = (129, 10)>
<data name = yeast-2_vs_8.csv>, <data shape = (482, 9)>
<data name = page-blocks-1-3_vs_4.csv>, <data shape = (472, 11)>
<data name = glass2.csv>, <data shape = (214, 10)>
<data name = wine.csv>, <data shape = (4898, 12)>
<data name = glass4.csv>, <data shape = (214, 10)>
<data name = abalone9-18.csv>, <data shape = (731, 9)>
<data name = glass5.csv>, <data shape = (214, 10)>
<data name = shuttle-c0-vs-c4.csv>, <data shape = (1829, 10)>
<data name = yeast6.csv>, <data shape = (1484, 9)>
<data name = yeast4.csv>, <data shape = (1484, 9)>
<data name = vowel0.csv>, <data shape = (988, 14)>
<data name = yeast5.csv>, <data shape = (1484, 9)>

In [4]:
df.head()

    Mcg   Gvh   Alm   Mit  Erl  Pox   Vac   Nuc  label
0  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22      0
1  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22      0
2  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22      0
3  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22      0
4  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22      0